<p>
  <strong>Modelcode:</strong>
  <%= @enginemodel.modelcode %>
</p>

<p>
  <strong>Name:</strong>
  <%= @enginemodel.name %>
</p>

<%= link_to 'Edit', edit_enginemodel_path(@enginemodel) %> |
<%= link_to 'Back', enginemodels_path %>
