<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @paymentstatus.name %>
</p>

<%= link_to 'Edit', edit_paymentstatus_path(@paymentstatus) %> |
<%= link_to 'Back', paymentstatuses_path %>
