<div class="field">
  <%= Engineorder.human_attribute_name('businessstatus_id') %>： <%= @engineorder.status.name %>
  <span style="margin-left: 10px">[<%= undo_link(@engineorder) %>]</span> <!-- TODO: レイアウトが決まったら綺麗に書き直すこと -->
</div>


