/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/** bootstrap import **/
@import "bootstrap";


/** for bootstrap (body padding)**/
body {
  padding-top: 60px;
  padding-bottom: 20px;
 }

/** for required item label **/
label.need-label:after {
content: " *";
}


/** for horizontal line **/
hr{
  height: 1px;
  border: none;
  border-top: 1px #CCCCCC dashed;
  margin-top: 12px;
  margin-bottom: 12px;
}

hr.header{
  margin-top: 8px;
  border-top: 1px #CCCCCC solid;
}


p{
	margin-top: 6px;
	margin-bottom: 6px
}


.vtop{
  vertical-align: top;
}

h1{
     border-left:3px solid #CCCCCC;
     border-bottom:1px dashed #CCCCCC;
     padding:0px 0px 0px 10px;
}

textarea {
   width: 300px;
   min-width: 300px;
   min-height: 80px;
   max-width:  350px;
   max-height: 200px;
}


/**** for workregist format(link color) ****/
@mixin workregist_link_format($linkcolor)
{
    &:link { color: $linkcolor; } 
    &:visited { color: $linkcolor; }
    &:hover { color: $linkcolor; }
    &:active { color: $linkcolor; }
}

 a.workregist_show {
    @include workregist_link_format(#0000FF); 
}

a.workregist_edit {
    @include workregist_link_format(#0000FF); 
}

a.workregist_del{
    @include workregist_link_format(#FF0000); 
}

a.workregist_work{
    @include workregist_link_format(#0088FF); 
}


/** for workregist format(td size) **/
td.workregist{
  width:40px;
} 

/** for table layout (status td size) **/
td.status_col{
  width:100px;
}


/** for pageIndex **/
em.current{
  color: red;
  font-size: 120%;
  &:before {
    content: "[";
  }
  &:after {
    content: "]";
  }
}