<p>ようこそ <%= @resource.email %> さん!</p>

<p>パスワードの変更を行う場合、以下の「パスワードを変更する」のリンクをクリックしてください。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>もしこのメールに心あたりが無い場合、このメールは無視してください。</p>
<p>※あなたのパスワードは、上記のリンクにアクセスしない限り、変更されません。</p>
