<p><%= @resource.email %>　さん</p>

<p>パスワードの間違いが規定回数に達したため、アカウントがロックされました。</p>

<p>アカウントのロックを解除したい場合、以下の「ロックを解除する」のリンクをクリックしてください。</p>


<p><%= link_to 'ロックを解除する', unlock_url(@resource, :unlock_token => @token) %></p>
