  <% if modeldata.errors.any? %>
    <div  class="panel panel-danger">
    <div class="panel-heading">
      <h2 class="panel-title"> <%= modeldata.errors.count %>つのエラーがあります</h2>
    </div>
      <ul>
      <% modeldata.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


