  <div class="field">
    エンジン型式 <br>
    <%= text_field_tag 'engine_model_name', @repair.engine.engine_model_name, :disabled=>'true' %><br>
    エンジンNo. <br>
    <%= text_field_tag 'serialno', @repair.engine.serialno, :disabled=>'true' %><br>
  </div>
